body { 
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background: #f2f2f2; 
    margin: 30px; /* dodanie marginesu dla lepszego wyglądu */ 
    color: #333; }

.product-container { 
    max-width: 900px; 
    margin: auto; 
    background: #fff; 
    padding: 25px 35px; 
    border-radius: 15px; 
    box-shadow: 0 3px 20px rgb(0 0 0 / 0.1); }

img { 
    max-width: 100px; 
    border-radius: 12px; 
    margin-bottom: 20px; }

/* h1 { 
    font-size: 2em; 
    margin-bottom: 10px; 
    color: #2c3e50; } */

.category { 
    font-size: 1rem;
    color: #999;
    display: block;
    margin-bottom: 2rem; }
    
/* .price { 
    font-size: 1.3em; 
    font-weight: bold; 
    color: #e67e22; 
    margin-bottom: 15px; } */
    
p.description { 
    line-height: 1.6; } */

a.back-link { 
    display: inline-block; 
    margin-top: 25px; 
    text-decoration: none; 
    color: #2980b9; 
    font-weight: bold; }
    
a.back-link:hover { 
    text-decoration: underline; }







/* Nowa chwilowa wersja dla produktu */

.product-page {
    display: flex;
    max-width: 1200px;
    margin: 2rem auto;
    gap: 2rem;
    padding: 0 1rem;
}

.product-details {
    flex: 1;
}

/* Right Column: Product Details */
.product-details .h1 {
    font-size: 1.8rem;
    margin: 0;
    font-weight: 600;
}

.sku {
    font-size: 0.8rem;
    color: #999;
    display: block;
    margin-top: 0.5rem;
}

.price {
    font-size: 2rem;
    font-weight: 700;
    margin: 0.8rem 0rem 0rem 0rem;


    font-size: 1.3em; 
    font-weight: bold; 
    color: #e67e22; 
    /* margin-bottom: 1.5rem; */
}




/* Accordion Styles */
.accordion {
    border-top: 1px solid #eee;
    margin: 2rem 0;
}
.accordion-item {
    border-bottom: 1px solid #eee;
}
.accordion-header {
    width: 100%;
    background: none;
    border: none;
    text-align: left;
    padding: 1rem 0;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}
.accordion-header::after {
    content: 'v';
    transform: rotate(0deg);
    transition: transform 0.3s;
}
.accordion-item.active .accordion-header::after {
    transform: rotate(180deg);
}
.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    padding: 0 1rem;
}






















/* Grid Layout */
/* 
.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 8px;
}

.product-images {
    grid-column: 1 / span 2;
    grid-row: 2 / span 5;
}
.product-basic {
    grid-column: 3 / span 2;
    grid-row: 2 / span 2;
}
.product-data {
    grid-column: 3 / span 2;
    grid-row: 4 / span 3;
}
.product-description {
    grid-column: 1 / span 3;
    grid-row: 7 / span 2;
}
.link {
    grid-column: 4;
    grid-row: 7 / span 2;
}
.top {
    grid-column: 1 / span 4;
    grid-row: 1;
}


.inline-gallery-container {
  width: 700px;
  height: 500px;
  position: relative;
} */


/* For caption animation(Optional) */


/* .lightGallery-captions {
    h4 {
        transform: translate3d(60px, 0, 0px);
    }
    p {
        transform: translate3d(-60px, 0, 0px);
    }
    h4,
    p {
        opacity: 0;
    }
}
.lg-current {
    .lightGallery-captions {
        h4,
        p {
            transform: translate3d(0, 0, 0px);
        }
        h4,
        p {
            opacity: 1;
        }
    }
}
.lg-slide-progress {
    .lightGallery-captions {
        h4 {
            transform: translate3d(-60px, 0, 0px);
        }
        p {
            transform: translate3d(60px, 0, 0px);
        }
        h4,
        p {
            opacity: 0;
        }
    }
}

.lightGallery-captions {
    h4,
    p {
        transition: transform 0.4s ease-in-out, opacity 0.4s ease-in;
    }
}
.lg-current {
    .lightGallery-captions {
        h4,
        p {
            transition-delay: 500ms;
        }
    }
    &.lg-slide-progress {
        .lightGallery-captions {
            h4,
            p {
                transition-delay: 0ms;
            }
        }
    }
} */