/* ========================================
   TYPOGRAPHY - Style typograficzne
   ======================================== */

* {
    font-family: "Inter", sans-serif;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
}

a {
    text-decoration: none;
    color: inherit;
}